@model ModernSchoolWEB.Models.AlunoAvaliacaoViewModel

<h4>AlunoAvaliacaoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdAluno" class="control-label"></label>
                <input asp-for="IdAluno" class="form-control" />
                <span asp-validation-for="IdAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAvaliacao" class="control-label"></label>
                <input asp-for="IdAvaliacao" class="form-control" />
                <span asp-validation-for="IdAvaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrega" class="control-label"></label>
                <input asp-for="DataEntrega" class="form-control" />
                <span asp-validation-for="DataEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arquivo" class="control-label"></label>
                <input asp-for="Arquivo" class="form-control" />
                <span asp-validation-for="Arquivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
