@model ModernSchoolWEB.Models.DiarioDeClasseViewModel

<h4>DiarioDeClasseViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataShow" class="control-label"></label>
                <input asp-for="DataShow" class="form-control" />
                <span asp-validation-for="DataShow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livros" class="control-label"></label>
                <input asp-for="Livros" class="form-control" />
                <span asp-validation-for="Livros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivrosSeduc" class="control-label"></label>
                <input asp-for="LivrosSeduc" class="form-control" />
                <span asp-validation-for="LivrosSeduc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumoAula" class="control-label"></label>
                <input asp-for="ResumoAula" class="form-control" />
                <span asp-validation-for="ResumoAula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTurma" class="control-label"></label>
                <input asp-for="IdTurma" class="form-control" />
                <span asp-validation-for="IdTurma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdComponente" class="control-label"></label>
                <input asp-for="IdComponente" class="form-control" />
                <span asp-validation-for="IdComponente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfessor" class="control-label"></label>
                <input asp-for="IdProfessor" class="form-control" />
                <span asp-validation-for="IdProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoAula" class="control-label"></label>
                <input asp-for="TipoAula" class="form-control" />
                <span asp-validation-for="TipoAula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
