@model ModernSchoolWEB.Models.DiarioDeClasseViewModel

<h4>DiarioDeClasseViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataShow" class="control-label"></label>
                <input asp-for="DataShow" class="form-control" />
                <span asp-validation-for="DataShow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livros" class="control-label"></label>
                <input asp-for="Livros" class="form-control" />
                <span asp-validation-for="Livros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivrosSeduc" class="control-label"></label>
                <input asp-for="LivrosSeduc" class="form-control" />
                <span asp-validation-for="LivrosSeduc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumoAula" class="control-label"></label>
                <input asp-for="ResumoAula" class="form-control" />
                <span asp-validation-for="ResumoAula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTurma" class="control-label"></label>
                <input asp-for="IdTurma" class="form-control" />
                <span asp-validation-for="IdTurma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdComponente" class="control-label"></label>
                <input asp-for="IdComponente" class="form-control" />
                <span asp-validation-for="IdComponente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfessor" class="control-label"></label>
                <input asp-for="IdProfessor" class="form-control" />
                <span asp-validation-for="IdProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoAula" class="control-label"></label>
                <input asp-for="TipoAula" class="form-control" />
                <span asp-validation-for="TipoAula" class="text-danger"></span>
            </div>
            <div class="d-flex flex-wrap py-4">
                <div class="col-lg">
                    <a class="btn bg-secondary text-white border border-0 col" asp-action="Index"> Voltar </a>
                </div>
                <div class="col-lg">
                    <input type="submit" value="Salvar" class="btn cor-bg col text-light" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
