.cor-bg {
    background-color: #0c326f;
}
.altura-conteiner{
    height:340px;
}
.pos-logo{
    position:relative;
    left: 2px;
    top: 20px;
}
.btn-hover:hover {
    background-color: #011d4a;
}
.mukta-bold {
    font-family: "Mukta", sans-serif;
    font-weight: 700;
    font-style: normal;
}
