html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

:root {
    --bs-bg-opacity: 0.5; /* Opacidade desejada, por exemplo, 50% */
}
body {
  margin-bottom: 60px;
}
.form-select {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    color: var(--bs-dark);
    background-color: #fff;
    background-image: url("../assets/select_icon.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px;
    border-top: 0px solid var(--bs-dark);
    border-left: 0px solid var(--bs-dark);
    border-right: 1px solid rgba(var(--bs-dark-rgb), 0.3);
    border-bottom: 1px solid rgba(var(--bs-dark-rgb), 0.3);
    border-radius: 8px;
}
.form-control {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    color: var(--bs-dark);
    border-top: 0px solid var(--bs-dark);
    border-left: 0px solid var(--bs-dark);
    border-right: 1px solid rgba(var(--bs-dark-rgb), 0.3);
    border-bottom: 1px solid rgba(var(--bs-dark-rgb), 0.3);
    border-radius: 8px;
}

.form-control-input {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    color: var(--bs-dark);
    border-top: 1px solid rgba(var(--bs-dark-rgb), 0.3);
    border-left: 1px solid rgba(var(--bs-dark-rgb), 0.3);
    border-right: 0px solid rgba(var(--bs-dark-rgb), 0.3);
    border-bottom: 0px solid rgba(var(--bs-dark-rgb), 0.3);
    border-radius: 8px;
}





