@model Core.DTO.AlunoComunicacaoIndexDTO

<label class="fs-4">Comunicado</label>
<br />
<label>Turma: @Model.NomeTurma</label>

<table class="table table-sm table-striped table-bordered" id="alunoComunicadoTurma">
    <thead>
        <tr>
            <th>
                Professor
            </th>
            <th>
                Componente
            </th>
            <th>
                Data
            </th>
            <th>
                Mensagem
            </th>
        </tr>
    </thead>
</table>
<div class="d-flex flex- py-4 col-4">
    <div class="col-8 d-flex">
        <a asp-action="Index" asp-controller="Aluno" class="btn bg-secondary text-white border border-0 col"> Voltar </a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded">
            <div class="d-flex justify-content-between">
                <span class="fs-4 mt-2 ml-3">Mensagem</span>
                <button type="button" class="close border-0 bg-white fs-3 rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr />
            <div class="modal-body">
                <p id="mensagemModal"></p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/DataTable/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#alunoComunicadoTurma').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,
                "lengthMenu": [
                    [5, 10, 20, -1],
                    [5, 10, 20, "Todos"]
                ],
                "ajax": {
                    "url": "/Aluno/GetPageComunicado",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [1],
                    "visible": true,
                    "searchable": false,
                },
                {
                    "targets": [3],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                }
                ],
                "columns": [
                    { "data": "nomeRemetente", "name": "Professor", "autoWidth": true },
                    { "data": "nomeComponente", "name": "Componente", "autoWidth": true },
                    { "data": "data", "name": "Data", "autoWidth": true, },
                    {
                        "data": "menssagem", "name": "Mensagem", "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            return '<button data-toggle="modal" data-target="#exampleModalCenter" class="fs-5 pl-5 border-0 text-primary-default bg-transparent" onclick="exibirMensagemNoModal(\'' + full.menssagem + '\')"><i class="fa-solid fa-eye"></i></button>';
                        }
                    }
                ],
                language: {
                    "lengthMenu": "Exibir _MENU_",
                    "info": "Exibindo de _START_ até _END_ de _TOTAL_ registros",
                    "search": "Buscar",
                    "paginate": {
                        "next": '@Html.Raw("<i class=\"fa fs-6 fa-chevron-right\"></i>")',
                        "previous": '@Html.Raw("<i class=\"fa fs-6 fa-chevron-left\"></i>")',
                        "first": "Primeiro",
                        "last": "Último"
                    },
                    url: "/js/DataTable/pt-br.json",
                }
            });
        });
    </script>
}

