<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Modern School</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ModernSchool.styles.css" asp-append-version="true" />
    <!-- Fonte Rawline-->
    <link rel="stylesheet" href="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css" />
    <!-- Fonte Raleway-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap" />
    <!-- Design System de Governo-->
    <link rel="stylesheet" href="~/css/core.min.css"/>
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
</head>
<body>
    <div class="template-base">
        <nav class="br-skiplink">
            <a class="br-item" href="#main-content" accesskey="1">Ir para o conteúdo (1/4) <span class="br-tag text ml-1">1</span></a><a class="br-item" href="#header-navigation" accesskey="2">Ir para o menu (2/4) <span class="br-tag text ml-1">2</span></a><a class="br-item" href="#main-searchbox" accesskey="3">Ir para a busca (3/4) <span class="br-tag text ml-1">3</span></a><a class="br-item" href="#footer" accesskey="4">Ir para o rodapé (4/4) <span class="br-tag text ml-1">4</span></a>
        </nav>
        <header class="br-header mb-4 bg-primary-darken-01" id="header" data-sticky="data-sticky">
            <div class="container-fluid">
                <div class="header-top">
                    <div class="header-logo">
                        <!--colocar a logo aqui-->
                        <img src="~/LogoSoftware.png" alt="logo" width="50" height="50"/><span class="vertical mx-half mx-sm-1"></span>
                        <img src="~/NomeSoftware.png" alt="logo" width="100" height="50" /><span class="vertical mx-half mx-sm-1"></span>
                    </div>
                    <div class="header-actions">

                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="br-footer">
            <div class="container-fluid">
                <div class="info">
                    <div class="text-down-01">Texto destinado a exibição de informações relacionadas à&nbsp;<strong><a href="">licença de uso</a>.</strong></div>
                </div>
            </div>
        </footer>
    </div>
      <!--  <div class="br-cookiebar default d-none" tabindex="-1"></div> -->
    <!-- Scripts de componentes GOV.BR -->
    <script src="~/js/core-init.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
