﻿
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/simple-sidebar/dist/css/styles.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.4.0-web/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/core.min.css" />
    <link rel="stylesheet" href="~/css/headerLayout.css" asp-append-version="true" />
    <link rel="icon" href="~/assets/favicon.png" type="image/png">

</head>
<body>
    <div class="d-flex" id="wrapper">
        <div class="border-end bg-white shadow bg-body rounded border-0" id="sidebar-wrapper">

            <div class="sidebar-heading bg-primary-darken-01 tamDivHeader border-end border-primary-darken-01">
                <div class="header-logo">
                    <img src="~/assets/LogoSoftware.png" alt="logo" width="50" height="50" /><span class="vertical mx-half mx-sm-1"></span>
                    <img src="~/assets/NomeSoftware.png" alt="logo" width="100" height="50" /><span class="vertical mx-half mx-sm-1"></span>
                </div>

            </div>

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action p-3 border-bottom border-primary text-primary fw-bold d-flex justify-content-between" asp-controller="" asp-action="Index">Comunicados <i class="fa-sharp fa-solid fa-angle-right"></i></a>
            </div>
        </div>
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand navbar-light bg-primary-darken-01 tamDivHeader ">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fs-5 text-light d-flex align-items-center" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="card-body">
                                        <b class="fw-bold"><!--@User.FindFirst("UserName")?.Value-->pegar usuário logado </b>
                                        <i class="fa-solid fa-circle-user"></i>
                                    </div>
                                </a>

                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Identity" asp-action="Perfil">
                                        <i class="fa-solid fa-address-card"></i>
                                        Meus Dados
                                    </a>
                                    <form asp-controller="Identity" asp-action="Sair">
                                        <button class="dropdown-item">
                                            <i class="fa-solid fa-right-from-bracket"></i>
                                            Sair
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid px-4 py-3">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top text-muted p-2 text-center">
        <div class="container">
            &copy; @DateTime.Now.Year - v1.0
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/simple-sidebar/dist/js/scripts.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>