﻿
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/simple-sidebar/dist/css/styles.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.4.0-web/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/headerLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestaoGrupoMusicalWeb.styles.css" asp-append-version="true" />
    <link href="~/lib/datatable/css/datatables.min.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <div class="border-end-0 bg-white border-danger" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action p-3 border-bottom border-primary-darken-01" asp-controller="" asp-action="Index">Início</a>
                <a class="list-group-item list-group-item-action p-3 border-bottom border-primary-darken-01" asp-controller="" asp-action="IndexAdmGrupo">Grupo Musical</a>
                <a class="list-group-item list-group-item-action p-3 border-bottom border-primary-darken-01 border-opacity-75" asp-controller="" asp-action="Index">Ensaios</a>
                <!--<a class="list-group-item list-group-item-action p-3 border-bottom border-danger border-opacity-75" asp-controller="Evento" asp-action="Index">Eventos</a>-->
                <a class="list-group-item list-group-item-action p-3 border-bottom border-primary-darken-01 border-opacity-75" asp-controller="" asp-action="Index">Associados</a>
                <!--<a class="list-group-item list-group-item-action p-3 border-bottom border-danger border-opacity-75" href="#!">Financeiro</a>-->
                <a class="list-group-item list-group-item-action p-3 border-bottom border-primary-darken-01 border-opacity-75" asp-controller="" asp-action="Index">Instrumentos</a>
                <a class="list-group-item list-group-item-action p-3 border-bottom border-primary-darken-01 border-opacity-75" asp-controller="" asp-action="Index">Figurinos</a>
                <!--<a class="list-group-item list-group-item-action p-3 border-bottom border-danger border-opacity-75" href="#!">Material de Estudo</a>-->
                <!--<a class="list-group-item list-group-item-action p-3 border-bottom border-danger border-opacity-75" asp-controller="Informativo" asp-action="Index">Informativos</a>-->
                <!--<a class="list-group-item list-group-item-action p-3 border-bottom border-danger border-opacity-75" href="#!">Consultas</a>-->
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand navbar-light bg-primary-darken-01 border-bottom tamDivHeader">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fs-5 text-light d-flex align-items-center" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="card-body">
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Identity" asp-action="Perfil">
                                        <i class="fa-solid fa-address-card"></i>
                                        Meus Dados
                                    </a>
                                    @*<a class="dropdown-item" href="#!">
                                    <i class="fa-solid fa-gear"></i>
                                    Configurações
                                    </a>
                                    <div class="dropdown-divider"></div>*@
                                    <form asp-controller="Identity" asp-action="Sair">
                                        <button class="dropdown-item">
                                            <i class="fa-solid fa-right-from-bracket"></i>
                                            Sair
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>

    <footer class="border-top text-muted p-2 text-center">
        <div class="container">
            &copy; @DateTime.Now.Year - v1.0
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-mask/jquery.inputmask.js"></script>
    <script src="~/js/Mascara.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/simple-sidebar/dist/js/scripts.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/BuscaCep.js"></script>
    <script src="~/js/modal.js" asp-append-version="true"></script>
    <script src="~/js/Figurino/Movimentar.js"></script>
    <script src="~/DataTables/datatables.min.js"></script>
</body>
</html>